*{
	padding:0;
	margin:0;
	font-family: Syne;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
ul,li{ margin:0; padding:0;}
ul>li{ list-style:none;}
a{text-decoration:none;}
tt,i{font-style: normal;}
a img {border: 0px;}
.clear{clear:both;}
html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	touch-action: manipulation;
	/* overflow: hidden; */
}
body{
	overflow-x: hidden;
	overscroll-behavior: none;
}
i>svg{
	display: block;
	width: 100%;
	height: 100%;
}
table{
	border-collapse: collapse;
}
input{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input::-ms-reveal,
input::-ms-clear{
	display: none;
}
input:hover{
	outline: none;
}
*,
*:focus,
*:active,
*:hover{
	outline: none;
	-moz-outline:none;
	-webkit-user-modify: read-write-plaintext-only;
	-webkit-user-modify: read-only;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}
[class^="btn_"]{
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

label{
	background: none;
}
*{
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}
@media screen and (orientation: landscape){
	body{
		padding-right: env(safe-area-inset-right);
		padding-left: env(safe-area-inset-left);
	}
}

select:-moz-focusring{
	color: transparent;
	text-shadow: 0 0 0 #000;
	outline: none;
	border: none;
}
select{
	background: transparent;
}
::-moz-focus-inner{
	border: 0;
}

@media screen and (max-width: 1023px){
	:root {
		--bottom_show: 0px;
		--popup_show: 56px;
		--popup_margin_show: 56px;
		--wrap_show: 56px;	
	}
	.hide{	
		--bottom_show: 0px;
		--popup_show: 0px;
		--popup_margin_show: 0px;
	}
	.ios_scroll{
		--bottom_show: 0px;
		--popup_show: 56px;
		--popup_margin_show: 56px;
		--wrap_show: 0px;
	}
	.ios_scroll .hide{
		--bottom_show: 0px;
		--popup_show: 0px;
		--popup_margin_show: 0px;
	}
}
@media screen and (min-width: 1024px){
	:root {
		--bottom_show: 0px;
		--wrap_show: 0px;
		--popup_show: 0px;
	}
}
