<button id="backToTop" class="btn_gotop">↑</button>
<div class="area_form">
	<div class="content_1200">
		<section>
			<h2>Have A Project In Mind?</h2>
			<p>Whether you have questions about our services, need help with a product, or want guidance on a project, our team is ready to assist. Use the contact form below to get in touch, and we'll respond quickly to ensure you get the support you need.</p>
		</section>
		<form id="myForm" novalidate>
			<fieldset>Please note, we will not respond to any promotional messages.</fieldset>
			<fieldset class="col_2">
				<div class="form_group">
					<label class="required">First Name</label>
					<input type="text" class="" required><!-- class="error"-->
					<p class="msg_error">Please complete this required field.</p>
				</div>
				<div class="form_group">
					<label class="required">Last Name</label>
					<input type="text" required>
					<p class="msg_error">Please complete this required field.</p>
				</div>
			</fieldset>
			<fieldset>
				<div class="form_group">
					<label class="required">Company name</label>
					<input type="text" required>
					<p class="msg_error">Please complete this required field.</p>
				</div>
			</fieldset>
			<fieldset>
				<div class="form_group">
					<label class="required">Business Email</label>
					<input type="email" name="email" required>
					<p class="msg_error">Please complete this required field.</p>
				</div>
			</fieldset>
			<fieldset>
				<div class="form_group">
					<label class="required">Inquiry Details</label>
					<legend>Please briefly tell us your project requirements.</legend>
					<textarea name="" id="" required></textarea>
					<p class="msg_error">Please complete this required field.</p>
				</div>
			</fieldset>
			<fieldset>
				<div>
					<label>Which region are you based in?</label>
					<select name="" id="">
						<option disabled selected>Please Select</option>
						<option value="美洲North America">美洲North America</option>
						<option value="亞洲Asia">亞洲Asia</option><option value="歐洲EMEA">歐洲EMEA</option>
						<option value="澳洲Oceania">澳洲Oceania</option>
					</select>
				</div>
			</fieldset>
			<input type="submit" value="Submit">
		</form>
	</div>
</div>
<footer class="site_footer">
	<section>
		<img class="footer_logo" src="../images/logo.png" alt="">
		<p>service@ultratreasure3688.com</p>
	</section>
	<section>
		<h3>Company</h3>
		<a class="footer_link" href="about.html">About Us</a>
		<a class="footer_link" href="contact.html">Contact Us</a>
		<a class="footer_link" href="privacy-policy.html">Privacy Policy</a>
	</section>
	<section>
		<h3>Services</h3>
		<a class="footer_link" href="custom-software-development-services.html">Custom Software Development</a>
		<a class="footer_link" href="hardware-software-system-integration.html">System Integration</a>
		<a class="footer_link" href="ui-ux-design-service.html">UI UX Design</a>
		<a class="footer_link" href="">Auto deployment & Maintenance</a>
	</section>
	<section>
		<h3>Solutions</h3>
		<a class="footer_link" href="aws.html">AWS</a>
		<a class="footer_link" href="custom-enterprise-cms-development.html">CMS</a>
	</section>
	<p class="copyright">© 2025 Ultra Treasure Holdings Limited.</p>
</footer>
