<div class="site_header">
	<div class="header_logo">
		<a href="index.html">
			<img src="images/logo.png" alt="">
		</a>
	</div>
	<nav class="header_nav">
		<ul>
			<li>
				<a href="about.html" class="nav_link">About Us</a>
			</li>
			<li>
				<a href="industries.html" class="nav_link">Industries</a>
				<div class="submenu industries">
					<ul class="submenu_wrap">
						<li><a class="nav_link" href="manufacturing.html">Manufacturing</a></li>
						<li><a class="nav_link" href="retail-ecommerce.html">Retail & Ecommerce</a></li>
						<li><a class="nav_link" href="logistics-transportation.html">Logistics & Transportation</a></li>
						<li><a class="nav_link" href="engineering-construction.html">Engineering & Construction</a></li>
						<li><a class="nav_link" href="energy-resources-utilities.html">Energy, Resources & Utilities</a></li>
						<li><a class="nav_link" href="media-entertainment.html">Media & Entertainment</a></li>
					</ul>
				</div>
			</li>
			<li>
				<a href="solutions.html" class="nav_link">Solutions</a>
				<div class="submenu solutions">
					<ul class="submenu_wrap">
						<section>
							<h6>AI</h6>
							<li><a class="nav_link" href="ai-development-service.html">AI Development</a></li>
						</section>
						<section>
							<h6>Solutions</h6>
							<li><a class="nav_link" href="aws.html">AWS</a></li>
							<li><a class="nav_link" href="custom-enterprise-cms-development.html">Enterprise Content Management</a></li>
						</section>
						<section>
							<h6> Software Engineering Services</h6>
							<li><a class="nav_link" href="custom-software-development-services.html">Custom Software Development</a></li>
							<li><a class="nav_link" href="hardware-software-system-integration.html">System Integration</a></li>
							<li><a class="nav_link" href="ui-ux-design-service.html">UI UX Design</a></li>
							<li><a class="nav_link" href="auto-deployment-and-maintenance.html">Auto Deployment & Maintenance</a></li>
						</section>
					</ul>
				</div>
			</li>
			<li>
				<a href="" class="nav_link">中文</a>
			</li>
		</ul>

	</nav>
	<a href="contact.html" class="btn_contact">CONTACT US</a>
</div>